$margin: 5px;

.es-app {
  max-width: 425px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__menu-wrap {
    margin: $margin;

    // height: calc(100vh - 10px);
    // height: calc(100vh - 2 * $margin);
    height: 100vh;
    max-height: 800px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .es-app {
    max-width: initial;

    &__menu-wrap {
      flex: 1;
      margin: $margin;

      // height: calc(100vh - 10px);
      height: calc(100vh - 2 * $margin);
      max-height: 800px;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
