.es-app {
  margin: $margin;
  max-width: 425px;
  // width: 100vw;
  height: 100vh;


  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  // align-items: center;

}

// @media screen and (min-width: 640px) {
//   .es-app {
//     max-width: initial;
//     width: 100vw;
//     height: 100vh;
//     display: grid;
//     grid-template-areas: "menu content";
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: min-content;
// }
