.es-menu {
  text-align: center;

  &__single-text {
    margin-bottom: 35px;
    transform: rotate(-6deg);
    font-family: Roboto Condensed, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: $darkgrey;
  }

  &__item {
    margin-top: 20px;
    width: 233px;
    height: 70px;
    background: $primary;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    transform: skewY(-6deg);
    cursor: pointer;

    &:hover {
      transform: scale(1.1) skewY(-5deg);
    }
  }

  &__text {
    color: $white;
    font-family: Roboto Condensed, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    transform: skewY(6deg) rotate(-6deg);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}
