// colors
$primary: #00369C;
$black: #1b1b1b;
$white: #fdfdfd;
$grey: #DEDEDE;
$darkgrey: #505050;
$highlight: #6FC6C2;

// global
$margin: 15px;

// animation
$animation-duration: 0.4s;
$animation-type: ease-in;

// sizes
$desktop: 724px;
